*{
    /* border: 1px solid yellowgreen; */
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to right, #2a053d, #6b0874);
    display: flex;
    justify-content: center;
}

.grid{
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(3,100px);
    grid-gap: 10px;
}

.verde{
    border-radius: 10px;
    background-color: rgba(22, 117, 89, 0.782);
    grid-column: 1/3;
    grid-row: 1/3;
}

.celeste{
    border-radius: 10px;
    background: rgb(44, 157, 199);
    grid-column: 3/6;
    grid-row: 1/2;
}

.rosado{
    border-radius: 10px;
    background: rgb(165, 72, 139);
    grid-column: 1/3;
    grid-row: 3/4;
}

.rojo{
    border-radius: 10px;
    background: rgb(147, 68, 31);
    grid-column: 3/5;
    grid-row: 2/4;
}

.gris{
    border-radius: 10px;
    background: rgb(2, 56, 56);
    grid-column: 5/6;
    grid-row: 2/3;
}

.marron{
    border-radius: 10px;
    background: rgb(114, 95, 95);
    grid-column: 5/6;
    grid-row: 3/4;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.146);
}
